.App {
  text-align: center;
  background-color: green;
  margin: 20px;
}

input {
  padding: 10px;
  margin-right: 10px;
}
input:hover {
  background-color: rgb(140, 140, 152);
  transition: 0.4s;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}
