.buttonsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .button {
    background-color: yellowgreen;
    width: 45px;
    height: 45px;
    margin: 3px;
  }